*{
    margin:0;
    padding:0;
}

body{
    background-image: url(../img/imagen-index.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
}
 header{
    height: 100px;
    background: #B42404;
    padding: 0 50px;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }

 h1{
    font-family: "mifuente";
    padding: 20px;
    font-size: 80px;
 }

 @font-face{
    font-family: "mifuente";
    src: url(../fonts/Chinatown-Champs-Italic.ttf);
  }

   .nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding:0 10px;
    transition: 0.4s;
  }

  .mostrar-menu, 
  .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display:none;
    transition:0.4s;
  }

  .mostrar-menu{
    order:1;
  }

.nav a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #D8D203;
}

#check{
    display:none;
}

/*responsive*/
@media(max-width: 768px){
    /*header*/
    .mostrar-menu,
    .esconder-menu{
        display:block;
    }

    .nav{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #B42404;
        right:-100;
        left:0;
        top:0;
        text-align:center;
        padding:100px 0px;
        z-index:100;
        transition: 0.8s;
    }
     .nav a{
        display:block;
        padding:20px;
     }

     .esconder-menu{
        position:absolute;
        top:40px;
        right:30px;
     }

     #check:checked ~ .menu{
        right:0;
     }
}

/*menu*/

#menu{
    background-image: url(../img/imagen-menu.jpg);
 }

 /*contacto*/

 #contacto{
    background-image: url(../img/imagen-contacto.jpg);
}

/*trabaja con nosotros*/

#trabaja-con-nosotros{
    background-image: url(../img/imagen-trabajo.jpg);
 }

 /*reserva*/
 #reserva{
    background-image: url(../img/imagen-reserva.jpg);
 }