*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    text-align: center;
    display: grid;
    grid-row: 10% 60% 10%;
}
 header{
    height: 100px;
    background: #B42404;
    padding: 0 50px;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 nav{
    display:flex;
    flex-direction:row;
 }

 h1{
    font-family: "mifuente";
    padding: 20px;
    font-size: 80px;
 }

 @font-face{
    font-family: "mifuente";
    src: url(../fonts/Chinatown-Champs-Italic.ttf);
  }
  
   .nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding:0 10px;
    transition: 0.4s;
  }

  .mostrar-menu, 
  .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display:none;
    transition:0.4s;
  }

  .mostrar-menu{
    order:1;
  }

.nav a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #D8D203;
}

#check{
    display:none;
}

.main{
    padding: 0 50%;
    background: rgba(5, 7, 12, 0.40);
    padding: 5%;
    margin:5%;
    width: 40%;
    position:relative;
    left: 20%;
}

.main__div{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section{
    padding: 10%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


footer{
    background-color: #B42404;
    position: relative;
    bottom: -800%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*responsive*/

@media(max-width: 768px){
    /*header*/

    .mostrar-menu,
    .esconder-menu{
        display:block;
    }

    .nav{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #B42404;
        right:-100;
        left:0;
        top:0;
        text-align:center;
        padding:100px 0px;
        z-index:100;
        transition: 0.8s;
        display: flex;
        flex-direction: column;
    }
     .nav a{
        display:block;
        padding:20px;
     }

     .esconder-menu{
        position:absolute;
        top:40px;
        right:30px;
     }

     #check:checked ~ .menu{
        right:0;
     }

}

/*index*/

#index{
    background-image: url(../img/imagen-index.jpg);
}

/*menu*/

#menu{
    background-image: url(../img/imagen-menu.jpg);
 }

 .h2{
    color: black;
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin: 0px;
    width: 27%;
    position:relative;
    left: 650px;
 }

 dl{
    margin:0px;
    padding:30px;
    background: rgba(5, 7, 12, 0.40);
    width: 26%;
    position:relative;
    left: 650px;
 }
 
 dt{
    padding:5px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .salsash2{
    background: rgba(5, 7, 12, 0.40);
    width: 29.1%;
    position:relative;
    left: 650px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 /*contacto*/

 #contacto{
    background-image: url(../img/imagen-trabajo-con-nosotros.jpg);
}

 iframe{
    width: 100%;
 }

/*trabaja con nosotros*/

#trabaja-con-nosotros{
    background-image: url(../img/imagen-trabajo-con-nosotros.jpg);
 }

 /*reserva*/
 #reserva{
    background-image: url(../img/imagen-reserva.jpg);
 }